body {
  background-image: url("img/gradient-wallpaper-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}


img {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  border: 2px solid #160E1B;
  opacity: .6;
}

p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  opacity: 1;
  transition: opacity .3s;
}

#button-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-flow: wrap;
  flex-direction: row;
  margin: 50px auto;
  height: 600px;
  width: 100%;
}

#reaction-container, #tv-and-movie-container, #meme-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-flow: wrap;
  flex-direction: row;
  width: 100%;
  margin: 25px 15px;
  border: 2px solid #160E1B;
  border-radius: 25px;
  box-shadow: .5px .5px #0b0a10;
}

img {
  box-shadow: 1px 1px #0b0a10;
}

span {
  position: absolute;
}

div h2{
  text-align: center;
  margin-top: -5px;
  height: 5px;
  line-height: 5px;
}

.buttons {
  position: relative;
  width: 75px;
  height: 75px;
  cursor: pointer;
  margin: 10px;
}

.buttons:hover img {
  opacity: 1;
}

.buttons:hover p {
  opacity: 0;
}

/* #togBut {
  border: 2px solid white;
  border-radius: 15px;
  background: #c0deed;
  padding: 5px;  
}

#togBut:hover {
  background: black;
  color: white;
} */