* {
    text-align: center;
    margin: 0 auto;
    image-width: 25px;
}

#main-container {
    height: 100%;
    width: 100%;
    font-family: Arial;
    padding: 10px;
    line-height: 2em;
    font-size: 1em;
  }

input {
    height: 25px;
    width: 25px;
}

#togBut {
    border: 2px solid white;
    border-radius: 25px;
    background: #8296DF;
    padding: 5px;  
  }
  
  #togBut:hover {
    background: black;
    color: white;
  }