body {
  background-image: url("img/gradient-wallpaper-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: 2px solid black;
  }

p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity .3s;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 50px auto;
  height: 600px;
  width: 100%;
}

.buttons {
  position: relative;
  width: 150px;
  height: 150px;
  cursor: pointer;
  margin: 15px;
  opacity: 1;
}

.buttons:hover img {
  opacity: .4;
}

.buttons:hover p {
  opacity: 1;
}

/* #togBut {
  border: 2px solid white;
  border-radius: 15px;
  background: #c0deed;
  padding: 5px;  
}

#togBut:hover {
  background: black;
  color: white;
} */